<div class="uk-container">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div uk-grid class="uk-margin-large-top">
        <div class="uk-width-1-6">
        </div>

        <div class="uk-width-2-3">
          <fieldset class="uk-fieldset uk-form-horizontal">
            <h4 class="">ログイン</h4>
            <hr>
            
            <% if alert %>
              <p class="uk-alert-danger uk-text-small uk-padding-small"><%= alert %></p>
            <% end %>

            <div class="field uk-section-xsmall uk-padding-remove-bottom">
              <%= f.label :email,class:"uk-form-label" %>
              <div class="uk-form-controls">
                <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"uk-input uk-width-large" %>
              </div>
            </div>

            <div class="field uk-section-xsmall uk-padding-remove-bottom">
              <%= f.label :password,class:"uk-form-label" %>
              <div class="uk-form-controls">
                <%= f.password_field :password, autocomplete: "current-password",class:"uk-input uk-width-large" %>
              </div>
            </div>

            <div class="uk-form-controls">
              <% if devise_mapping.rememberable? %>
                <div class="field uk-section-xsmall uk-padding-remove-bottom">
                  <%= f.check_box :remember_me,class:"uk-checkbox" %>
                  <%= f.label :remember_me,class:"uk-text-small" %>
                </div>
              <% end %>
            </div>  

            <div class="actions uk-margin-top">
                <div class="uk-form-controls">
                  <%= f.submit "ログイン",class:"uk-button uk-button-primary uk-margin-large-right" %>
                  <div class="uk-margin-top uk-flex uk-flex-between">
                    <%= render "users/shared/links" %>
                  </div>
                </div>
            </div>
          </fieldset>  
        </div>

        <div class="uk-width-1-6">
        </div>          
  </div>

<% end %>

