<%# フラッシュメッセージを表示 %>
<% flash.each do |message_type, message| %>
<div class="uk-alert-<%= message_type %>" uk-alert>
  <p><%= message %></p>
</div>
<% end %>

<div class="uk-container">
  <h2>記事一覧ページ</h2>
  <p>キーワード "<%= @search_keyword %>" での検索結果：<%= @articles.total_count %>件</p>
    <div uk-grid>
      <div class="ukwidth-expand">
        <div class="uk-child-width uk-grid-medium uk-grid-match" uk-grid>
            <% @articles.each do |article| %>        
              <div>
                  <div class="uk-card uk-card-default uk-card-small uk-card-body uk-card-hover uk-box-shadow-small">
                        <div uk-grid>
                            <div class="uk-width-auto url-image">
                                <%# サムネイル画像 %>
                                <%= image_tag article.thumbnail_image_url, style:"height:80px;width:100px;object-fit:cover;" %>
                            </div>
                            <div class="uk-width-expand">

                              <%# #highlightは文中の検索キーワードをハイライトするため %>
                              <%# truncateは指定した文字数以上を「…」で端折ってくれる %>
                              <p class="uk-text-small uk-text-bold uk-margin-remove"><%= highlight(article.title.truncate(60),@search_keyword) %></p>
                              <p class="font-size-12px margin-top-and-bottom-5px"><%= article.site_name %></p>
                              <p class="uk-margin-remove-top font-size-12px margin-bottom-10px" ><%= highlight(article.description.truncate(120),@search_keyword) %></p>

                              <%# お気に入りボタン %>
                                <%= render "favorites/favorite_button", article: article  %>


                              <%# タグの表示 %>
                              <%= render "layouts/tag", article: article  %>

                            </div>
                        </div>  
                  </div>
              </div>
            <% end %>
        </div>
        <div class= "paginate">
          <%= paginate @articles, class: "paginate" %>
        </div>
      </div>
      <%# 空divで無理やり画面右端に1/4分の余白を作成 %>
      <div class="uk-width-1-4"></div>
    </div>

</div>