<div class="uk-container">
  <div uk-grid>
      <div class="uk-width-1-6">
      </div>
      <div class="uk-width-2-3">
        <h3 class="uk-h3">おすすめ記事を投稿する</h3>
        <%= form_for(@article) do |f| %> 

        <%# フラッシュメッセージを表示 %>
        <% flash.each do |message_type, message| %>
        <div class="uk-alert-<%= message_type %>" uk-alert>
          <p><%= message %></p>
          <%# モデルに格納されたエラーメッセージを表示 %>
          <%= render 'layouts/error_messages', model: f.object %>
        </div>
        <% end %>

        <%#　入力したURLのタイトルと画像を表示(非同期)　URLが既に投稿済だったらエラーを表示 %>
        <div id="url_title_and_image" class="uk-margin"></div>

        <%# form_forで記事のサムネイル画像URL・タイトル・概要を送信する用 %>
        <%# ajax通信が完了したら、記事の情報を受け取っている %>
        <%= f.hidden_field :thumbnail_image_url,id:"hidden_article_thumbnail_image_url" %>
        <%= f.hidden_field :title,id:"hidden_article_title" %>
        <%= f.hidden_field :site_name,id:"hidden_article_site_name" %>
        <%= f.hidden_field :description,id:"hidden_article_description" %>

          <p class="uk-margin-small-bottom">投稿する記事のURLを入力</p>

          <div class="uk-section-xsmall uk-padding-remove-top">
            <div class="uk-form-controls">
              <%= f.text_field :url, class: "uk-input",id:"input-url-area" %> 
            </div>
          </div>

          <div class="uk-section-xsmall uk-padding-remove-top">
            <div class="uk-form-controls">
            <%= f.text_area :recommend_comment, class: "uk-textarea" ,placeholder:"コメントを記入"%> 
            </div>
          </div>

          <%# #タグのフィールド %>
          <div class="uk-section-xsmall uk-padding-remove-top tag-form">
            <div class="uk-form-controls">
              <%= f.text_field :tag_list,value: @article.tag_list.to_s, class: "uk-input",id:"article-tags",placeholder:"タグ名を入力してEnter" %> 
            </div>
          </div>

          <%# 過去に自分が使ったタグ一覧 %>
          <div class="uk-section-xsmall uk-padding-remove-top">
            <div class="uk-form-controls">
              <p class="uk-margin-remove-bottom">過去に使用したタグ</p>
              <% @used_tags.each do |tag| %>
                <a class="used_tag uk-link-muted uk-margin-small-right"><%= tag %></a>
              <% end %>
            </div>
          </div>

          <div class="uk-section-xsmall uk-padding-remove-bottom">
            <%= f.submit '投稿する',  class: "uk-button uk-button-primary uk-align-right"%>
          </div>


      </div>

      <div class="uk-width-1-6">
      </div>

    <% end %>
  </div>
</div>  