  <div class="mypage-article padding-5px margin-top-and-bottom-5px">
    <p class="font-size-10px uk-margin-remove"><%=article.user.user_name %>さんが<%= article.updated_at.strftime("%Y-%m-%d %H:%M") %>に投稿しました。</p>

    <div class="margin-bottom-5px">
        <%# 記事のタイトル %>
        <div class="margin-bottom-5px">

          <%# サムネイル画像 %>
          <%= image_tag article.thumbnail_image_url, style:"height:25px;width:35px;object-fit:cover;" %>
          <p class="uk-text-small uk-margin-remove uk-display-inline uk-margin-small-right uk-link-text"><%=link_to article.title, article.url %></p>

            <%# 記事の編集ボタン %>
          <% if user_signed_in? && article.user.id == current_user.id %>
            <%= link_to "編集する", edit_article_path(article), class:"uk-button uk-button-default uk-button-small font-size-12px uk-align-right uk-margin-remove" %>
          <% end %>  
        </div>

        <%# お気に入り登録ボタン %>
        <%# 未ログイン状態か、もしくはログイン済でかつ自分のマイページ出ない場合 %>
        <% if !user_signed_in? || (user_signed_in? && article.user.id != current_user.id) %>
          <%= render "favorites/favorite_button", article: article  %>
        　
        <% end %>  

        <%# タグ %>
        <%= render "layouts/tag", article: article  %>
    </div>

    <%# おすすめコメント %>
    <div class="uk-background-muted padding-5px">
      <div class="mini-container uk-margin-small-right">
        <%# プロフィール画像 %>
        <%= link_to user_path(article.user),class:"uk-link-text" do %>
        <%= attachment_image_tag article.user, :profile_image,fallback: "no-user-image.png",size:'30x30', class: "uk-border-circle user-show-image-index",alt: "Border circle", id: "profileImage" %>

        <div class="uk-display-inline-block uk-margin-small-left">
          <%# ユーザ名 %>
          <p class="font-size-12px uk-margin-remove"><%= article.user.user_name %></p>
        <% end %>  

          <p class="font-size-12px uk-margin-remove"><%= article.recommend_comment %></p>
        </div>  
      </div>  

    </div>
  </div>
  <hr class="uk-margin-remove">