<div class="uk-container">

  <div uk-grid>
  </div>

  <div uk-grid>
    <div class="uk-width-1-4 uk-text-center">
      <%= attachment_image_tag user, :profile_image, fallback: "no-user-image.png",size:'200x200', class: "uk-border-circle user-show-image",alt: "Border circle", id: "profileImage" %>
    </div>

    <div class="uk-width-expand uk-position-relative">
      <%# タブ %>
      <%= render "users/tab", user: user %>
    </div>
  </div>  

  <div uk-grid class="uk-margin-remove-top">
    <div class="uk-width-1-4 uk-text-center">
        <%# ユーザ名 %>
        <span class="margin-top-and-bottom-10px uk-display-inline-block"><%= user.user_name %></span>
        <%# プロフィール %>
        <span class="margin-10px uk-display-inline-block font-size-12px"><%= simple_format(user.profile) %></span>

        <%# プロフィール編集ボタン %>
        <% if user_signed_in? && (current_user.id == user.id) %>
            <%= link_to (edit_user_path),class:"uk-button uk-button-default uk-width-5-6" do %>
              <span uk-icon="icon: file-edit; ratio: 1"></span>
              <span>プロフィールを編集</span>
            <% end %>

        <%# お気に入りタグ登録ボタン %>
        <a class="uk-display-block" href="#modal-center" uk-toggle>お気に入りタグを編集する</a>

        <%# タグ登録のモーダル %>
        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                <button class="uk-modal-close-default" type="button" uk-close></button>

                <div class="register-tag">
                  <p>タグ一覧</p>
                    <div class="register-tag-index">

                      <% ActsAsTaggableOn::Tag.all.each do |tag| %>
                        <div class="flex-space-between margin-top-and-bottom-10px">
                          <span><%= tag.name %></span>
                          <span class="favorite-tag-<%= tag.id %>"></span>
                          <%= link_to '登録する', add_favorite_tag_user_path(user, params: { user: { tag: tag.name} }), :method => :patch, class:"uk-display-inline" %>
                        </div>  
                      <% end %>
                      
                    </div>
                </div>

            </div>
        </div>

        <%# お気に入りタグ一覧 %>
        <% user.tags.each do |tag| %>
          <span class="used_tag uk-link-muted uk-margin-small-right"><%= tag %></span>
        <% end %>    
           
        <%# フォローボタン %>
        <% else %>
          <span id="follow-button-<%= user.id %>" class="follow-button uk-width-5-6 uk-margin-top uk-inline uk-display-inline-block">
            <%= render "relationships/follow_button", user: user %>
          </span>
        <% end %>  

    </div>

    <div class="uk-width-expand uk-padding-remove-left" id="ajax-partial">

      <%# render元のactionがshowもしくはfavoritesの場合、記事一覧を表示　%>
      <% if controller.action_name.in?(['show','favorites']) %>
        <%= render partial: 'users/articles', collection: articles, as: :article %>

      <%# render元のactionが上記以外（＝followers, following）の場合、ユーザ一覧を表示%>
      <% else %>
        <%= render partial: 'users/related_users', collection: related_users, as: :related_user %>
      <% end %>  
    </div>

  </div>
</div>