<div class="uk-container">

  <div uk-grid>
  </div>

  <div uk-grid>
    <div class="uk-width-1-4 uk-text-center uk-margin-medium-right">
      <%= attachment_image_tag user, :profile_image, fallback: "no-user-image.png",size:'200x200', class: "uk-border-circle user-show-image",alt: "Border circle", id: "profileImage" %>
    </div>

    <div class="uk-width-expand uk-position-relative">
      <%# タブ %>
      <%= render "users/tab", user: user %>
    </div>
  </div>  

  <div uk-grid class="uk-margin-remove-top">
    <div class="uk-width-1-4 uk-text-center uk-margin-medium-right">
        <%# ユーザ名 %>
        <span class="margin-top-and-bottom-10px uk-display-inline-block"><%= user.user_name %></span><br>
        <%# プロフィール %>
        <span class="margin-10px uk-display-inline-block font-size-12px"><%= simple_format(user.profile) %></span>

        <%# プロフィール編集ボタン %>
        <% if user_signed_in? && (current_user.id == user.id) %>
            <%= link_to (edit_user_path),class:"uk-button uk-button-default uk-width-5-6" do %>
              <span uk-icon="icon: file-edit; ratio: 1"></span>
              <span>プロフィールを編集</span>
            <% end %>
        <%# フォローボタン %>
        <% else %>
          <span id="follow-button-<%= user.id %>" class="follow-button uk-width-5-6 uk-margin-top uk-inline uk-display-inline-block">
            <%= render "relationships/follow_button", user: user %>
          </span>
        <% end %> 

        <%# お気に入りタグ一覧 %>
        <p class="uk-margin-remove-bottom uk-text-small">お気にいりタグ一覧</p>
        <hr class="margin-top-and-bottom-5px">
        <span id="favorite-tag-index">
          <%= render partial: 'users/favorite_tag_index', collection: user.tags, as: :tag %>
        </span>

        <% if user_signed_in? && (current_user.id == user.id) %>
        <%# お気に入りタグ登録ボタン %>
        <a class="uk-display-block font-size-13px margin-top-and-bottom-10px" href="#modal-center" uk-toggle>お気に入りタグを編集する</a>

        <%# タグ登録のモーダル %>
        <div id="modal-center" class="uk-flex-top" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

                <button class="uk-modal-close-default" type="button" uk-close></button>
                <%# タグ一覧 %>
                <div class="register-tag">

                <%# 検索窓 %>
                <%= form_with url: tag_search_users_path, method: :get, html: {class: "uk-search uk-search-default",style:"width:300px;"},remote: true do  %>
                  <%= text_field_tag :keyword, nil, placeholder:"タグ名を入力", class:"uk-search-input", id:"favorite-tag-search",style:"width:300px;" %>
                  <%= hidden_field_tag :id, user.id %>
                  <%# 検索ボタンをuikitのアイコンにしたいがためにaタグでsubmit%>
                  <a href='#' onclick="$('#favorite-tag-search').submit()" class="uk-search-icon-flip" uk-search-icon ></a>
                <% end %>  

                  <p>タグ一覧</p>
                    <div class="register-tag-index" id="register-tag-index">
                      <%# 登録タグ一覧 %>
                      <%= render partial: 'users/register_tag_index',  collection: ActsAsTaggableOn::Tag.all, as: :tag, locals:{user: user}  %>
                    </div>
                </div>

            </div>
        </div>

        <% end %>  

    </div>

    <div class="uk-width-expand uk-padding-remove-left" id="ajax-partial">

      <%# render元のactionがshowもしくはfavoritesの場合、記事一覧を表示　%>
      <% if controller.action_name.in?(['show','favorites']) %>
        <%= render partial: 'users/articles', collection: articles, as: :article %>

      <%# render元のactionが上記以外（＝followers, following）の場合、ユーザ一覧を表示%>
      <% else %>
        <%= render partial: 'users/related_users', collection: related_users, as: :related_user %>
      <% end %>  
    </div>

  </div>
</div>