<div class="uk-container">

  <div uk-grid>
  </div>

  <div uk-grid>
    <div class="uk-width-1-4 uk-text-center">
      <%= attachment_image_tag @user, :profile_image, fallback: "no-user-image.png",size:'200x200', class: "uk-border-circle user-show-image",alt: "Border circle", id: "profileImage" %>
    </div>

    <div class="uk-width-expand uk-position-relative">
      <ul uk-tab class="uk-position-bottom">
        <li class="uk-active"><a href="" class="tab-font-size">投稿した記事(<%=@user.articles.count %>)</a></li>
        <li><a href="" class="tab-font-size">お気に入り記事</a></li>
        <li><a class="tab-font-size">フォロー中</a></li>
        <li><a class="tab-font-size">フォロワー</a></li>
      </ul>
    </div>
  </div>  

  <div uk-grid class="uk-margin-remove-top">
    <div class="uk-width-1-4 uk-text-center">
        <%# プロフィール編集ボタン %>
        <% if user_signed_in? && (current_user.id == @user.id) %>
            <%= link_to (edit_user_path),class:"uk-button uk-button-default uk-width-5-6 uk-margin-top" do %>
              <span uk-icon="icon: file-edit; ratio: 1"></span>
              <span>プロフィールを編集</span>
            <% end %>
           
        <%# フォローボタン %>
        <% else %>
          <%= link_to "",class:"uk-button uk-button-default uk-width-5-6 uk-margin-top" do %>
            <span uk-icon="icon: plus; ratio: 1"></span>
            <span>フォローする</span>
          <% end %>
        <% end %>  

    </div>

    <div class="uk-width-expand uk-padding-remove-left">
      <% @user.articles.each do |article| %>
        <div class="padding-5px">
          <p class="font-size-10px margin-bottom-5px"><%=article.user.user_name %>さんが<%= article.updated_at.strftime("%Y-%m-%d %H:%M") %>に投稿しました。</p>

          <div class="margin-bottom-10px">
              <%# 記事のタイトル %>
              <p class="uk-text-small uk-margin-remove"><%= link_to article.title, article_path(article) %></p>
              <%# お気に入り登録ボタン %>
              <%= render "favorites/favorite_button", article: article  %>
              <%# タグ %>
              <%= render "layouts/tag", article: article  %>
          </div>

          <%# おすすめコメント %>
          <div class="uk-background-muted padding-5px">
            <%= attachment_image_tag @user, :profile_image,fallback: "no-user-image.png",size:'30x30', class: "uk-border-circle user-show-image-index",alt: "Border circle", id: "profileImage" %>
            <span class="uk-text-small"><%= article.recommend_comment %></span>
          </div>
        </div>
        <hr class="uk-margin-remove">
      <% end %>  

    </div>

  </div>
</div>
