<div class="top-image-container">
  <div class="top-image-overray">
    <div class="uk-container uk-position-relative">

      <div class="key-message uk-display-inline-block">
        <p class="uk-margin-large-bottom uk-text-bold font-size-32px">ようこそ Recome へ!</p>

        <p class="uk-text-bold">Recomeでは、エンジニアのあなたが見つけたおすすめweb記事を<br>日本中のエンジニアに共有することができます。</p>
        <p class="uk-text-bold">あなたの「困った！」を解決してくれた記事や<br>「参考になるなぁ」と感心した記事に出会ったら、<br>積極的に共有してみましょう！</p>
      </div>

      <div class="top-page-register display-inline-block">
        <p class="uk-display-inline-block uk-margin-small-right">初めての方は</p>
        <%= link_to "ユーザ登録", new_user_registration_path, class:"uk-button uk-button-primary uk-display-inline-block" %><br>

        <p class="uk-display-inline-block uk-margin-medium-right">登録済の方は<%= link_to "こちら",new_user_session_path %>からログイン</p>

      </div>


    </div>
  </div>  
</div>

<div class="uk-container uk-margin-medium-top">
  <div uk-grid>
    <div class="uk-width-1-5">

      <%# 人気タグ一覧 %>
      <p class="margin-bottom-10px">人気のタグ</p>
      <hr class="uk-margin-remove">
        <% @popular_tags.each do |tag| %>
          <p class="margin-top-and-bottom-10px uk-text-small"><%= tag.name %></p>
        <% end %>

      <%# ユーザが登録したお気に入りタグ一覧 %>
      <p class="margin-bottom-10px">お気に入りのタグ</p>
      <hr class="uk-margin-remove">
        <%# ユーザがログインしている場合、タグ一覧を表示 %>
        <% if user_signed_in? %>

          <div id="top-favorite-tag-index">
            <%= render partial: 'home/top_favorite_tag_index', collection: current_user.tags, as: :tag %>
          </div>

        <% end %>

        <%# お気に入りタグ登録ボタン %>
        <a class="uk-display-block font-size-13px margin-top-and-bottom-10px" href="#modal-center" uk-toggle>お気に入りタグを編集する</a>

        <%# タグ検索のモーダル %>
        <%= render partial:"layouts/tag_search_modal" %>
      
    </div>

    <div class="uk-width-3-5">
        <p>人気の記事</p>
        <div uk-grid>

            <div class="uk-child-width uk-grid-medium uk-grid-match" uk-grid>
                <% @articles.each do |article| %>        
                  <div>
                      <div class="uk-card uk-card-default uk-card-small uk-card-hover uk-box-shadow-small">

                            <%# タイトル %>
                            <div class="uk-card-header padding-top-and-bottom-5px">
                              <p class="margin-top-and-bottom-5px uk-display-inline-block uk-text-small">タイトル</p>

                              <%# お気に入りボタン %>
                              <%= render "favorites/favorite_button", article: article  %>

                            </div>

                            <div class="uk-card-body-small padding-top-and-bottom-10px" uk-grid>
                                <div class="uk-width-auto url-image padding-left-55px">
                                    <%# サムネイル画像 %>
                                    <%= image_tag article.thumbnail_image_url, style:"height:60px;width:80px;object-fit:cover;" %>
                                </div>
                                <div class="uk-width-expand padding-rignt-and-left-15px">

                                  <p class="uk-text-small uk-text-bold uk-margin-remove"><%= article.title.truncate(60) %></p>
                                  <p class="font-size-12px margin-top-and-bottom-5px"><%= article.site_name %></p>
                                  <%# <p class="uk-margin-remove-top font-size-12px margin-bottom-10px" ><%= article.description.truncate(120) %>

                                  <%# タグの表示 %>
                                  <%= render "layouts/tag", article: article  %>

                                </div>
                            </div>

                            <%# おすすめコメント %>

                            <div class="padding-5px flex-space-between uk-background-muted">
                              <div class="mini-container uk-margin-small-right">
                                  <%= link_to user_path(article.user) do %>
                                  <%= attachment_image_tag article.user, :profile_image,fallback: "no-user-image.png",size:'30x30', class: "uk-border-circle user-show-image-index",alt: "Border circle", id: "profileImage" %>
                                  <%# ユーザ名 %>
                                  <div class="uk-display-inline-block uk-margin-small-left">
                                    <p class="font-size-11px uk-margin-remove"><%= article.user.user_name %></p>
                                    <% end %>  

                                    <%# おすすめ文 %>
                                    <p class="font-size-12px margin-top-and-bottom-5px"><%= article.recommend_comment %></p> 
                                  </div>
                              </div>  

                            </div>


                      </div>
                  </div>
                <% end %>
            </div>

        </div>

    </div>

    <div class="uk-width-1-5">
      <p>aaaaaa</p>
    <div>
  </div> 
</div>