<%# ユーザがログインしてないときだけ、キーメッセージを表示する %>
<% if user_signed_in? %>
<% else %>
<div class="top-image-container">
  <div class="top-image-overray">
    <div class="uk-container uk-position-relative">

      <div class="key-message uk-display-inline-block">
        <p class="uk-margin-large-bottom uk-text-bold font-size-32px">ようこそ Recome へ!</p>

        <p class="uk-text-bold">Recomeでは、エンジニアのあなたが見つけたおすすめweb記事を<br>日本中のエンジニアに共有することができます。</p>
        <p class="uk-text-bold">あなたの「困った！」を解決してくれた記事や<br>「参考になるなぁ」と感心した記事に出会ったら、<br>積極的に共有してみましょう！</p>
      </div>

      <div class="top-page-register display-inline-block">
        <p class="uk-display-inline-block uk-margin-small-right">初めての方は</p>
        <%= link_to "ユーザ登録", new_user_registration_path, class:"uk-button uk-button-primary uk-display-inline-block" %><br>

        <p class="uk-display-inline-block uk-margin-medium-right">登録済の方は<%= link_to "こちら",new_user_session_path %>からログイン</p>

      </div>


    </div>
  </div>  
</div>
<% end %>

<div class="uk-container uk-margin-medium-top top-page-contents uk-margin-xlarge-bottom">
  <div uk-grid>
    <div class="uk-width-1-5">

      <%# 人気タグ一覧 %>
      <p class="margin-bottom-10px">人気のタグ</p>
      <hr class="uk-margin-remove-top uk-margin-small-bottom">
        <% @popular_tags.each do |tag| %>
          <div class="uk-flex uk-flex-between uk-flex-middle margin-bottom-5px">
              <span class="margin-top-and-bottom-5px uk-text-small uk-link-text" ><%= link_to tag.name, home_tag_ranking_path(tag.name, anchor: "top-page-anchor") %></span>

              <div class="uk-width-1-2 uk-child-width-1-2" uk-grid>
                <div class="uk-display-inline-block uk-padding-remove">
                  <p class="font-size-10px uk-margin-remove-top margin-bottom-2px uk-text-center uk-text-muted">お気に入り</p>
                  <p class="uk-margin-remove uk-text-bold uk-text-center"><%= tag.taggings.where(taggable_type: "User").count %><span class="font-size-10px uk-text-muted uk-text-normal">人</span></p>
                </div>
                
                <div class="uk-display-inline-block uk-padding-remove">
                  <p class="font-size-10px uk-margin-remove-top margin-bottom-2px uk-text-center uk-text-muted">投稿</p>
                  <p class="uk-margin-remove uk-text-bold uk-text-center"><%= tag.taggings.where(taggable_type: "Article").count %></p>
                </div>
              </div>  

          </div>

        <% end %>

      <%# ユーザが登録したお気に入りタグ一覧 %>
      <p class="margin-bottom-10px">お気に入りのタグ</p>
      <hr class="uk-margin-remove-top uk-margin-small-bottom">
        <%# ユーザがログインしている場合、タグ一覧を表示 %>
        <% if user_signed_in? %>

          <div id="top-favorite-tag-index">
            <%= render partial: 'home/top_favorite_tag_index', collection: current_user.tags, as: :tag %>
          </div>

        <%# お気に入りタグ編集ボタン %>
        <a class="uk-display-block font-size-13px margin-top-and-bottom-10px uk-link-text uk-text-muted" href="#modal-center" uk-toggle>お気に入りタグを編集する</a>

        <%# タグ検索のモーダル %>
        <%= render partial:"layouts/tag_search_modal" %>

        <% else %>

        <%# お気に入りタグ編集ボタン（押すと「ログインしてください」のポップアップが表示される） %>
          <a class="uk-display-block font-size-13px margin-top-and-bottom-10px uk-link-text" href="#modal-center" uk-toggle>お気に入りタグを編集する</a>

          <%# ログインしてくださいの吹き出し %>
          <%= render partial:"layouts/alert_not_sign_in", locals:{subject: "お気に入りタグの編集"} %>
          
        <% end %>
      
    </div>

    <div class="uk-width-expand">
        <span id="top-page-anchor"></span>
        <% if @tag.nil?%>
          <p class="uk-margin-remove-top">人気記事 総合</p>
        <% else %>  
          <p class="uk-margin-remove-top">タグ 「<span class="uk-text-bold"><%= @tag %></span>」 の人気記事</p>
        <% end %>  

            <div class="uk-child-width uk-grid-medium uk-grid-match top-page-articles" id="top-page-articles" uk-grid>
              <%= render partial: 'home/top_page_article', collection: @articles, as: :article %>
            </div>

        <% if @articles_number >10 %>

          <%# 次の記事読み込み中のアニメーション %>
          <div class="page-load-status uk-text-center">

            <div class="infinite-scroll-request uk-margin-medium-top">
              <span uk-spinner="ratio: 2"></span>
            </div>

          </div>

          <%# ページネーション (無限スクロールに必要なので記述しているが画面では非表示) %>
          <div class= "uk-invisible">
            <%= paginate @articles %>
          </div>

        <% end %>

    </div>


    <div class="uk-width-1-4">

      <div class="uk-container"> 
        <p>ユーザランキング</p>
          <% @users.each.with_index(1) do |user,i| %>
            <div class="padding-5px flex-space-between">

                  <span><%= i %>位</span>

                  <div class="uk-width-expand uk-margin-small-left">
                    <%= link_to user_path(user),class:"uk-link-text" do %>
                      <%# プロフィール画像 %>
                      <%= attachment_image_tag user, :profile_image,fallback: "/images/no-user-image.png",size:'30x30', class: "uk-border-circle user-show-image-index",alt: "Border circle", id: "profileImage" %>
                      <%# ユーザ名 %>
                        <p class="font-size-12px uk-margin-remove uk-display-inline-block"><%= user.user_name %></p>
                    <% end %>
                  </div>    

                    <div class="uk-display-inline-block">
                      <p class="font-size-10px uk-margin-remove">記事お気に入り合計</p>
                      <p class="uk-margin-remove uk-text-bold uk-text-center"><%= user.count_all_favorites %></p>
                    </div>

            </div>
            <hr class="uk-margin-remove">
            <% end %>
      </div>  

    <div>
  </div> 
</div>