<!DOCTYPE html>
<html>
  <head>
    <title>Recome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# gonを使うため追加 %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">

    <nav class="uk-navbar-container" uk-navbar data-uk-sticky>

      <div class="uk-navbar-left">

        <%= link_to "",root_path,class:"uk-navbar-item uk-logo" %>

        <%# 検索窓 %>
         <div class="uk-navbar-item">
                <%= search_form_for @article_search, url: articles_path, html: {class: "uk-search uk-search-default search-nav-bar"} do |f| %>
                  <%= f.search_field :title_or_description_or_tags_name_cont, class:"uk-search-input", placeholder:"記事タイトル・タグ名で検索" %>
                  <%# 検索ボタンをuikitのアイコンにしたいがためにaタグでsubmit%>
                  <a href='#' onclick="$('#article_search').submit()" class="uk-search-icon-flip" uk-search-icon ></a>
                <% end %>

        </div>

          <ul class="uk-navbar-nav">    
              <li class="uk-active">
                <%= link_to '' do %>
                  <span uk-icon="icon: users; ratio: 1.2"></span>
                  <span>ユーザを探す</span>
                <% end %>
              </li>
          </ul>

      </div>

      <div class="uk-navbar-right">

          <ul class="uk-navbar-nav">
              <%# 「記事を投稿する」リンク %>
              <li class="uk-active">
                <%= link_to (new_article_path) do %>
                  <span uk-icon="icon: push; ratio: 1.2"></span>
                  <span>記事を投稿する</span>
                <% end %>
              </li>

              <li class="uk-active">
                <%= link_to (user_path(current_user.id)) do %>
                  <span uk-icon="icon: user; ratio: 1.2"></span>
                  <span>マイページ</span>
                <% end %>

                  <%# <div class="uk-navbar-dropdown">
                          <ul class="uk-nav uk-navbar-dropdown-nav">
                              <li class="uk-active"><a href="#">Active</a></li>
                              <li><a href="#">Item</a></li>
                              <li><a href="#">Item</a></li>
                          </ul>
                      </div> %>
              </li>

              <li><a href="#"><span uk-icon="icon: bell; ratio: 1.2"></span></a></li>
          </ul>

      </div>

    </nav>
  

    <%= yield %>
  </body>
</html>
