<!DOCTYPE html>
<html>
  <head>
    <title>Recome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# gonを使うため追加 %>
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">

    <nav class="uk-navbar-container" uk-navbar data-uk-sticky>

      <div class="uk-navbar-left">

        <%= link_to "",root_path,class:"uk-navbar-item uk-logo" %>

        <%# 検索窓 %>
         <div class="uk-navbar-item">
                <%= search_form_for @article_search, url: articles_path, html: {class: "uk-search uk-search-default search-nav-bar"} do |f| %>
                  <%= f.search_field :title_or_description_or_tags_name_cont, class:"uk-search-input", placeholder:"記事タイトル・タグ名で検索" %>
                  <%# 検索ボタンをuikitのアイコンにしたいがためにaタグでsubmit%>
                  <a href='#' onclick="$('#article_search').submit()" class="uk-search-icon-flip" uk-search-icon ></a>
                <% end %>
        </div>

          <ul class="uk-navbar-nav">    
              <li class="uk-active">
                <%= link_to users_path do %>
                  <span uk-icon="icon: users; ratio: 1.2"></span>
                  <span>ユーザを探す</span>
                  
                <% end %>
              </li>

              <div uk-dropdown="delay-hide:100; offset:0" class="padding-rignt-and-left-15px" style="height:80px;width:240px;z-index:20;">
                <p class="font-size-12px">あなたと興味関心が近いユーザを<br>探すことが出来ます。</p>
              </div>     
          </ul>

      </div>

      <div class="uk-navbar-right">

		    <% if user_signed_in? %>

          <ul class="uk-navbar-nav">

              <li class="uk-active">
                <%= link_to my_collection_user_path(current_user.id)  do %>
                  <span uk-icon="icon: album; ratio: 1.2"></span>
                  <span>マイコレクション</span>
                <% end %>
              </li>

              <div uk-dropdown="delay-hide:100; offset:0" class="padding-rignt-and-left-15px" style="height:100px;width:260px;z-index:20;">
                <p class="font-size-12px">あなたがフォローしたユーザや、<br>お気に入り登録したタグの最新投稿一覧が<br>表示されます。</p>
              </div>           

              <%# 「記事を投稿する」リンク %>
              <li class="uk-active">
                <%= link_to (new_article_path) do %>
                  <span uk-icon="icon: push; ratio: 1.2"></span>
                  <span>記事を投稿する</span>
                <% end %>
              </li>

              <div uk-dropdown="delay-hide:100; offset:0" class="padding-rignt-and-left-15px" style="height:80px;width:240px;z-index:20;">
                <p class="font-size-12px">あなたが見つけたおすすめ記事を<br>投稿して共有することが出来ます。</p>
              </div>      

              <%# マイページリンク %>
              <li class="uk-active">
                <%= link_to (user_path(current_user.id)) do %>
                  <span uk-icon="icon: user; ratio: 1.2"></span>
                  <span><%= current_user.user_name %></span>
                <% end %>
              </li>

              <div uk-dropdown="delay-hide:100; offset:0">
                  <ul class="uk-nav uk-dropdown-nav">
                      <li><%= link_to "マイページ",user_path(current_user.id) %></li>
                      <li><%= link_to "マイコレクション", my_collection_user_path(current_user.id) %></li>
                      <li>
                        <%= link_to destroy_user_session_path, method: :delete do %>
                          <span uk-icon="icon: sign-out; ratio: 1.2"></span>
                          <span>ログアウト</span>
                        <% end %>
                      </li>                      
                  </ul>
               </div>   

        <% else %>
          <ul class="uk-navbar-nav">

              <%# 「記事を投稿する」リンク %>
              <li class="uk-active">
                <%= link_to (new_article_path) do %>
                  <span uk-icon="icon: push; ratio: 1.2"></span>
                  <span>記事を投稿する</span>
                <% end %>
              </li>

              <%# ログインしてくださいの吹き出し %>
              <%= render partial:"layouts/alert_not_sign_in", locals:{subject: "記事の投稿"} %>


              <li class="uk-active">
                <%= link_to (new_user_registration_path) do %>
                  <%# <span uk-icon="icon: push; ratio: 1.2"></span> %>
                  <span>ユーザ登録</span>
                <% end %>
              </li>

              <li class="uk-active">
                <%= link_to (new_user_session_path) do %>
                  <span uk-icon="icon: sign-in; ratio: 1.2"></span>
                  <span>ログイン</span>
                <% end %>
              </li>

          </ul>

        <% end %>  

      </div>

    </nav>

    <%# 成功の場合のフラッシュメッセージを表示（失敗メッセージは各ページ内にて別個に表示する） %>
      <% if flash.keys.join == "success" %>
        <% flash.each do |message_type, message| %>
        <div class="uk-alert-<%= message_type %> uk-margin-remove" uk-alert>
          <p><%= message %></p>
        </div>
        <% end %>
      <% end %>
  
    <%= yield %>
  </body>
</html>
