<div class="uk-container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div uk-grid class="uk-margin-large-top">
        <%# 新規登録フォームの左側に空白を作るため追加（uikit標準の機能でやる方法がわからず） %>
        <div class="uk-width-1-6">
        </div>
        <div class="uk-width-2-3">
        <fieldset class="uk-fieldset uk-form-horizontal">
          <h4 class="uk-margin-remove-bottom">ユーザ登録</h4>
          <hr>
          <%= render "users/shared/error_messages", resource: resource %>

          <div class="field uk-section-xsmall uk-padding-remove-bottom">
            <%= f.label :ユーザ名,class:"uk-form-label" %>
            <div class="uk-form-controls">
              <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name",class:"uk-input uk-width-large" %>
            </div>
          </div>

          <div class="field uk-section-xsmall uk-padding-remove-bottom">
            <%= f.label :email,class:"uk-form-label" %>
            <div class="uk-form-controls">
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"uk-input uk-width-large" %>
            </div>
          </div>

          <div class="field uk-section-xsmall uk-padding-remove-bottom">
            <%= f.label :password,class:"uk-form-label" do %>
            <% :password %>
            <div>パスワード</div>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <% end %>
            <div class="uk-form-controls">
              <%= f.password_field :password, autocomplete: "new-password",class:"uk-input uk-width-large" %>
            </div>
          </div>

          <div class="field uk-section-xsmall uk-padding-remove-bottom">
            <%= f.label :password_confirmation,class:"uk-form-label" %>
            <div class="uk-form-controls">
              <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"uk-input uk-width-large" %>
            </div>
          </div>


          <div class="actions uk-margin-large-top">
            <div class="uk-form-controls">
            <%= f.submit "登録する",class:"uk-button uk-button-primary uk-margin-large-right" %>
            <%= render "users/shared/links" %>
            </div>
          </div>

        </fieldset>
        </div>
        <%# 新規登録フォームの右側に空白を作るため追加（uikit標準の機能でやる方法がわからず） %>
        <div class="uk-width-1-6">
        </div>
    </div>    

<% end %>